.Header {
    background: $secondary_color;
    color: $primary_color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 1.25rem;
    position: relative;
}